asgiref==3.11.1
certifi==2026.5.20
charset-normalizer==3.4.7
defusedxml==0.7.1
Django==6.0.6
djangorestframework==3.17.1
djangorestframework-xml==2.0.0
idna==3.18
mysqlclient==2.2.8
pillow==12.2.0
requests==2.34.2
sqlparse==0.5.5
urllib3==2.7.0
